<footer class="footer custom-footer">
  <div class="content has-text-centered">
    <div class="mb-4">
      <a href="https://www.twitter.com/thomascsd" class="mx-2" target="_blank" aria-label="Twitter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a href="https://github.com/thomascsd" class="mx-2" target="_blank" aria-label="GitHub">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <p>
      <strong>Space Viewer</strong>
      <br />
      Explore the universe, one image at a time.
    </p>
    <p class="is-size-7 mt-4">&copy; {{ currentYear }} Thomas. All rights reserved.</p>
  </div>
</footer>
